<div class="p-5">
        <div class="row mb-3">
            <img src="~/Images/perrito.png" class="mx-auto img-fluid" style="height: 120px; width: auto;" alt=""/> 
        </div>
        <p><b class="text-secondary">1.</b> Una casa con patio.</p>
        <p><b class="text-secondary">2.</b> Estabilidad económica para solventar los gastos del perrito.</p>
        <p><b class="text-secondary">3.</b> Una familia con mucho amor y compromiso que ame a los caninos.</p>
</div>